/* MINI SHOWREEL */
[data-mini-showreel-status="active"] .mini-showreel__click {
    display: none;
}

[data-mini-showreel-status] .mini-showreel__info {
    transition: margin 1s cubic-bezier(0.87, 0, 0.13, 1);
}

[data-mini-showreel-status="active"] .mini-showreel__info {
    margin-top: -2.75em;
}

[data-mini-showreel-status] .mini-showreel__card {
    transition: margin 1s cubic-bezier(0.87, 0, 0.13, 1);
}

[data-mini-showreel-status="active"] .mini-showreel__card {
    margin-top: 1.375em;
    margin-bottom: 1.375em;
}

[data-mini-showreel-status] .mini-showreel-lightbox__dark {
    transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
}

[data-mini-showreel-status="active"] .mini-showreel-lightbox__dark {
    opacity: 1;
    visibility: visible;
}

div#hero-video-a2:has([data-mini-showreel-status="active"]) {
    position: relative;
    z-index: 999;

    .section.for-home-hero {
        z-index: 999;
    }
}
[half-w-video] {
    [data-mini-showreel-status="not-active"] .bunny-player__interface{
        opacity: 0;
    }
    [data-mini-showreel-status="active"] .bunny-player__big-btn, 
    [data-mini-showreel-status="active"] .full-w-video,
    [data-mini-showreel-status="active"] .mini-showreel__info
    {
        opacity: 0;
    }
    .bunny-player{
        border-radius: 16px
    }
    [data-mini-showreel-status="active"] .bunny-player__interface{
        opacity: 1 !important;
    }
}
.section.z-index-1:hover container{
    z-index: 20;
}
/* FULL WIDTH VIDEO */
/* Animation */
[data-bunny-player-init] :is(.bunny-player__placeholder, .bunny-player__dark, .bunny-player__playpause, .bunny-player__loading) {
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

/* Placeholder */
[data-bunny-player-init][data-player-status="playing"] .bunny-player__placeholder,
[data-bunny-player-init][data-player-status="paused"] .bunny-player__placeholder,
[data-bunny-player-init][data-player-activated="true"][data-player-status="ready"] .bunny-player__placeholder {
    opacity: 0;
    visibility: hidden;
}

/* Dark Overlay */
[data-bunny-player-init][data-player-status="paused"] .bunny-player__dark,
[data-bunny-player-init][data-player-status="playing"][data-player-hover="active"] .bunny-player__dark {
    opacity: 0.3;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__dark {
    opacity: 0;
}

/* Play/Pause */
[data-bunny-player-init][data-player-status="playing"] .bunny-player__playpause,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__playpause {
    opacity: 0;
}

[data-bunny-player-init][data-player-status="playing"][data-player-hover="active"] .bunny-player__playpause {
    opacity: 1;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__play-svg,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__play-svg {
    display: none;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__pause-svg,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__pause-svg {
    display: block;
}

/* Loading */
[data-bunny-player-init][data-player-status="loading"] .bunny-player__loading {
    opacity: 1;
    visibility: visible;
}

/* Interface */
.bunny-player__interface {
    transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__interface,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__interface {
    opacity: 0;
    transform: translateY(1em) rotate(0.001deg);
}

[data-bunny-player-init][data-player-status="playing"][data-player-hover="active"] .bunny-player__interface,
[data-bunny-player-init][data-player-status="loading"][data-player-hover="active"] .bunny-player__interface {
    opacity: 1;
    transform: translateY(0em) rotate(0.001deg);
}

/* Timeline */
[data-bunny-player-init][data-player-status="idle"][data-player-activated="false"] .bunny-player__timeline,
[data-bunny-player-init][data-player-status="ready"][data-player-activated="false"] .bunny-player__timeline {
    pointer-events: none;
}

[full-w-video] {

    [data-player-status="idle"] .bunny-player__interface,
    [data-player-status="ready"] .bunny-player__interface {
        opacity: 0;
    }

    [data-player-status="playing"] .bunny-player__big-btn,
    [data-player-status="paused"] .bunny-player__big-btn,
    [data-player-status="paused"] .full-w-video,
    [data-player-status="playing"] .full-w-video {
        opacity: 0;
    }
}

/* Timeline Handle */
[data-bunny-player-init] .bunny-player__timeline-handle {
    transition: transform 0.15s ease-in-out;
}

[data-bunny-player-init][data-timeline-drag="true"] .bunny-player__timeline-handle {
    transform: translate(-50%, -50%) scale(1);
}

p.bunny-player__text {
    color: white;
}

/* Fullscreen */
[data-bunny-player-init][data-player-fullscreen="true"] .bunny-player__fullscreen-shrink-svg {
    display: block;
}

[data-bunny-player-init][data-player-fullscreen="true"] .bunny-player__fullscreen-scale-svg {
    display: none;
}

/* Mute */
[data-bunny-player-init][data-player-muted="true"] .bunny-player__volume-mute-svg {
    display: block;
}

[data-bunny-player-init][data-player-muted="true"] .bunny-player__volume-up-svg {
    display: none;
}

/* Cover Mode */
[data-bunny-player-init][data-player-update-size="cover"] {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

[data-bunny-player-init][data-player-update-size="cover"] [data-player-before] {
    display: none;
}

[data-bunny-player-init][data-player-update-size="cover"][data-player-fullscreen="false"] .bunny-player__video {
    object-fit: cover;
}