.feedbacks-cases-hover-bl {
  box-shadow: 0 12px 20px 0 rgba(39, 45, 75, 0.12),
    0 1px 0 0 rgba(38, 38, 38, 0) inset, 0 1px 3px 0 rgba(38, 38, 38, 0.12);
}
[hover-card-type][data-position="above"]::after {
  content: "";
  background-image: url("https://cdn.prod.website-files.com/677e4077bbc9292110564e7c/68cedd043bbd011dcc66f55b_Shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 2rem;
  height: 1rem;
    z-index: 999999;

}

[hover-card-type][data-position="below"]::after {
  content: "";
  background-image: url("https://cdn.prod.website-files.com/677e4077bbc9292110564e7c/68cedd043bbd011dcc66f55b_Shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: auto;
  transform: translateX(-50%) translateY(-100%) rotate(180deg); /* Flip arrow */
  left: var(--arrow-offset, 50%);
  width: 2rem;
  height: 1rem;
  z-index: 999999;
}

.feedbacks-cases-hover-bl[hover-card-type=""] {
  display: none;
}
@media (max-width: 990px) {
  .feedbacks-cases-hover-bl[hover-card-type="Case study"],
  .feedbacks-cases-hover-bl[hover-card-type="Testimonial"] {
    display: none;
  }
  .feedbacks-cases-cli:has([hover-card-type="Case study"])
    .feedbacks-cases-hover-link-mob {
    display: block;
  }
}



@keyframes logosScroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50%));
    }
  }
  .marque-logos_line-wrap:first-of-type .marque-logos_line {
    animation: logosScroll 40s linear infinite;
  }
  .marque-logos_line-wrap:last-of-type .marque-logos_line {
    animation: logosScroll 40s linear infinite reverse;
  } 

/* .feedbacks-cases-hover-bl.show{
    opacity: 0;
    pointer-events: auto;
} 
.feedbacks-cases-bl {
  border: 1px solid red;
}*/
@media (min-width: 991px) {
  .feedbacks-cases-bl:hover,
  .feedbacks-cases-bl.is-hovered {
    .feedbacks-cases-item {
      border-color: var(--surface--blueprint-100);
      background-color: var(--surface--blueprint-50);
    }

    /* .feedbacks-cases-hover-bl{
        opacity: 1;
        top: 0; 
        pointer-events: auto;
      } */
    .feedbacks-cases_hover-bg {
      opacity: 1;
    }
    .feedbacks-cases-item-logo {
      filter: grayscale(0%);
    }
  }
  body:has(.marque-logos_line:hover) .marque-logos_line {
    animation-play-state: paused;
  }
  body:has(.feedbacks-cases-hover-bl:hover) .marque-logos_line {
    animation-play-state: paused;
  }
}
